td{
    text-align: center;
}
.Sistemas_Op{
    background-color: #088000;
}
.seguridad{
    background-color: #84818E;
}
.S_xarxa{
    background-color: #290087;
}
.App_web{
background-color: #8DEE00;
}
.Empresa{
    background-color: #4ABD8C;
}