/*html{
    font-size: 62.5%;
}
    */
body{
    background-color:  #508267;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-size: 2rem;
}
h2{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
h3{
    color: white;
    text-align: center;
    background-color: black;
}
.Nombre span{
    color: rgb(210, 66, 104);
    font-size: 1.5rem;
}
.Nombre{
    color:rgb(16, 239, 65);
    text-align: center;
}

.imagen
{
    background-image: url(../img/imagen01.jpg );
}
.tab-container-1{
display: flex;
justify-content: space-around;
width: 100%;
margin: 0 auto;
}
.tab-container-1 div{
    width: 15%;
    text-align: center;
    background-color: rgb(199, 228, 255);
    border: 3px solid black;
    border-radius: 12px;
    padding:10px 0 ;
}
.tab-container-1 div:hover{
    background-color: rgb(213, 226, 238);
}

nav {
    width: 300px;
    height: 10vh;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 70vh;
}
